-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: actividadescomplementarias
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `cupoMaximo` int DEFAULT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imagenFlyer` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_disciplina` int DEFAULT NULL,
  `id_instructor` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmwspndy2ja3f1bk0558vbb7s` (`id_disciplina`),
  KEY `FKmncb4u5ased4aujx176d26j7` (`id_instructor`),
  KEY `FK3f2h0gmvsbagquvpfdpbmhwyb` (`id_semestre`),
  CONSTRAINT `FK3f2h0gmvsbagquvpfdpbmhwyb` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id`),
  CONSTRAINT `FKmncb4u5ased4aujx176d26j7` FOREIGN KEY (`id_instructor`) REFERENCES `instructor` (`id`),
  CONSTRAINT `FKmwspndy2ja3f1bk0558vbb7s` FOREIGN KEY (`id_disciplina`) REFERENCES `disciplina` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
INSERT INTO `actividad` VALUES (1,1,25,'','futbol.jpg','Futbol',1,4,2),(2,0,25,'','basquet.jpg','Basquetbol',2,6,2);
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumno`
--

DROP TABLE IF EXISTS `alumno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumno` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `numControl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `semestreActual` int DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKng780w8m7w5hl7llvm80r1xjs` (`id_carrera`),
  KEY `FKntvhnoasw1yr2e6p6nudb5lu3` (`id_persona`),
  CONSTRAINT `FKng780w8m7w5hl7llvm80r1xjs` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id`),
  CONSTRAINT `FKntvhnoasw1yr2e6p6nudb5lu3` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumno`
--

LOCK TABLES `alumno` WRITE;
/*!40000 ALTER TABLE `alumno` DISABLE KEYS */;
INSERT INTO `alumno` VALUES (11,1,'22520001',8,1,2),(12,1,'22520002',6,1,3),(16,1,'22520006',4,4,7),(17,1,'22520007',8,2,8),(18,1,'22520008',6,5,9),(19,1,'22520009',4,1,10),(20,1,'22520010',8,3,11);
/*!40000 ALTER TABLE `alumno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencia`
--

DROP TABLE IF EXISTS `asistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asistencia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `asistio` bit(1) DEFAULT NULL,
  `observaciones` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_alumno` int DEFAULT NULL,
  `id_sesion` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhoistiucdphdkhv4gcsan5o0d` (`id_alumno`),
  KEY `FKi55wocyhkhhly7xg70a3bsny7` (`id_sesion`),
  CONSTRAINT `FKhoistiucdphdkhv4gcsan5o0d` FOREIGN KEY (`id_alumno`) REFERENCES `alumno` (`id`),
  CONSTRAINT `FKi55wocyhkhhly7xg70a3bsny7` FOREIGN KEY (`id_sesion`) REFERENCES `sesion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencia`
--

LOCK TABLES `asistencia` WRITE;
/*!40000 ALTER TABLE `asistencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera`
--

DROP TABLE IF EXISTS `carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrera` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera`
--

LOCK TABLES `carrera` WRITE;
/*!40000 ALTER TABLE `carrera` DISABLE KEYS */;
INSERT INTO `carrera` VALUES (1,'ISC','Ingenieria En Sistemas Computacionales'),(2,'IGE','Ingenieria En Gestion Empresarial'),(3,'IC','Ingenieria Civil'),(4,'II','Ingenieria En Informatica'),(5,'CP','Contador Publico');
/*!40000 ALTER TABLE `carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `constancia`
--

DROP TABLE IF EXISTS `constancia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `constancia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `archivoPdf` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estatus` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechaGeneracion` date DEFAULT NULL,
  `valorCurricular` int DEFAULT NULL,
  `valorNumerico` double DEFAULT NULL,
  `id_inscripcion` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjl2hiqaromi498nmy8qh3r9o4` (`id_inscripcion`),
  KEY `FKfe1a37u1qci6capeurwvni0f3` (`id_nivel`),
  KEY `FK2h4wv1sou25wt5x39do8ki9tx` (`id_semestre`),
  CONSTRAINT `FK2h4wv1sou25wt5x39do8ki9tx` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id`),
  CONSTRAINT `FKfe1a37u1qci6capeurwvni0f3` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKjl2hiqaromi498nmy8qh3r9o4` FOREIGN KEY (`id_inscripcion`) REFERENCES `inscripcion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constancia`
--

LOCK TABLES `constancia` WRITE;
/*!40000 ALTER TABLE `constancia` DISABLE KEYS */;
/*!40000 ALTER TABLE `constancia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `criterio_base`
--

DROP TABLE IF EXISTS `criterio_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `criterio_base` (
  `id` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numeroCriterio` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `criterio_base`
--

LOCK TABLES `criterio_base` WRITE;
/*!40000 ALTER TABLE `criterio_base` DISABLE KEYS */;
INSERT INTO `criterio_base` VALUES (8,'Llega a tiempo a las sesiones','Puntualidad',1),(9,'Participa activamente en las actividades','Participacion',2),(10,'Muestra disposicion positiva','Actitud',3),(11,'Demuestra habilidades tecnicas de la disciplina','Desempeno Tecnico',4),(12,'Colabora con sus companeros','Trabajo En Equipo',5),(13,'Cumple con sus compromisos','Responsabilidad',6),(14,'Cuida su imagen y presentacion','Presentacion Personal',7);
/*!40000 ALTER TABLE `criterio_base` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `criterio_eval`
--

DROP TABLE IF EXISTS `criterio_eval`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `criterio_eval` (
  `id` int NOT NULL AUTO_INCREMENT,
  `valor` double DEFAULT NULL,
  `id_criterio` int DEFAULT NULL,
  `id_evaluacion` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKk39jbueja5imwoajv0yixqirt` (`id_criterio`),
  KEY `FK6qox5aim3fyiqpx1i6wp3r5is` (`id_evaluacion`),
  KEY `FK922eqi15hv99p043nuoudsrqj` (`id_nivel`),
  CONSTRAINT `FK6qox5aim3fyiqpx1i6wp3r5is` FOREIGN KEY (`id_evaluacion`) REFERENCES `evaluacion` (`id`),
  CONSTRAINT `FK922eqi15hv99p043nuoudsrqj` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKk39jbueja5imwoajv0yixqirt` FOREIGN KEY (`id_criterio`) REFERENCES `criterio_base` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `criterio_eval`
--

LOCK TABLES `criterio_eval` WRITE;
/*!40000 ALTER TABLE `criterio_eval` DISABLE KEYS */;
/*!40000 ALTER TABLE `criterio_eval` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disciplina`
--

DROP TABLE IF EXISTS `disciplina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disciplina` (
  `id` int NOT NULL AUTO_INCREMENT,
  `creditos` int DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disciplina`
--

LOCK TABLES `disciplina` WRITE;
/*!40000 ALTER TABLE `disciplina` DISABLE KEYS */;
INSERT INTO `disciplina` VALUES (1,1,'Futbol'),(2,1,'Basquetbol'),(3,1,'Voleibol'),(4,1,'Danza Folklorica'),(5,1,'Teatro'),(6,1,'Coro'),(7,1,'Karate'),(8,1,'Ajedrez');
/*!40000 ALTER TABLE `disciplina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encargado`
--

DROP TABLE IF EXISTS `encargado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encargado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqfh92g44fe04e0cbk15l2xa59` (`id_persona`),
  CONSTRAINT `FKqfh92g44fe04e0cbk15l2xa59` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encargado`
--

LOCK TABLES `encargado` WRITE;
/*!40000 ALTER TABLE `encargado` DISABLE KEYS */;
INSERT INTO `encargado` VALUES (1,1,15),(2,1,15);
/*!40000 ALTER TABLE `encargado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espacio`
--

DROP TABLE IF EXISTS `espacio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `espacio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espacio`
--

LOCK TABLES `espacio` WRITE;
/*!40000 ALTER TABLE `espacio` DISABLE KEYS */;
INSERT INTO `espacio` VALUES (1,'Cancha principal exterior','Cancha De Futbol'),(2,'Explanada del edificio S','Edificio S - Explanada'),(3,'Aula 1 del edificio S','Edificio S - S1'),(4,'Cancha techada interior','Cancha De Basquetbol');
/*!40000 ALTER TABLE `espacio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion`
--

DROP TABLE IF EXISTS `evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluacion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fecha` date DEFAULT NULL,
  `observaciones` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valorNumerico` double DEFAULT NULL,
  `id_inscripcion` int DEFAULT NULL,
  `id_instructor` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKnmecrfw8u8aad9y8oi56cpeh7` (`id_inscripcion`),
  KEY `FKj8q0khrwmx24pc9o35qh4xygg` (`id_instructor`),
  KEY `FKcwv9n0cda7ymcq9xnnimqahh8` (`id_nivel`),
  CONSTRAINT `FKcwv9n0cda7ymcq9xnnimqahh8` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKj8q0khrwmx24pc9o35qh4xygg` FOREIGN KEY (`id_instructor`) REFERENCES `instructor` (`id`),
  CONSTRAINT `FKnmecrfw8u8aad9y8oi56cpeh7` FOREIGN KEY (`id_inscripcion`) REFERENCES `inscripcion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion`
--

LOCK TABLES `evaluacion` WRITE;
/*!40000 ALTER TABLE `evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario`
--

DROP TABLE IF EXISTS `horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `diaSemana` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `horaFin` time DEFAULT NULL,
  `horaInicio` time DEFAULT NULL,
  `id_actividad` int DEFAULT NULL,
  `id_espacio` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2a0nguhtv710uxlcijkmc2nxg` (`id_actividad`),
  KEY `FKceijc3872gr0fb5uw57xpf8i6` (`id_espacio`),
  CONSTRAINT `FK2a0nguhtv710uxlcijkmc2nxg` FOREIGN KEY (`id_actividad`) REFERENCES `actividad` (`id`),
  CONSTRAINT `FKceijc3872gr0fb5uw57xpf8i6` FOREIGN KEY (`id_espacio`) REFERENCES `espacio` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario`
--

LOCK TABLES `horario` WRITE;
/*!40000 ALTER TABLE `horario` DISABLE KEYS */;
INSERT INTO `horario` VALUES (1,'LUNES','08:00:00','07:00:00',1,1),(2,'MARTES','08:00:00','07:00:00',1,1),(3,'JUEVES','08:00:00','07:00:00',1,1);
/*!40000 ALTER TABLE `horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscripcion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `archivoHorario` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estatusSolicitud` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechaSolicitud` date DEFAULT NULL,
  `motivoRechazo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_actividad` int DEFAULT NULL,
  `id_alumno` int DEFAULT NULL,
  `id_encargado` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr7vipvbfym866d1oawj9rnt87` (`id_actividad`),
  KEY `FKco7761ucd4mx60r4cawxel34x` (`id_alumno`),
  KEY `FKhdaq3u4sj3mpxd4uvgxh1ohct` (`id_encargado`),
  CONSTRAINT `FKco7761ucd4mx60r4cawxel34x` FOREIGN KEY (`id_alumno`) REFERENCES `alumno` (`id`),
  CONSTRAINT `FKhdaq3u4sj3mpxd4uvgxh1ohct` FOREIGN KEY (`id_encargado`) REFERENCES `encargado` (`id`),
  CONSTRAINT `FKr7vipvbfym866d1oawj9rnt87` FOREIGN KEY (`id_actividad`) REFERENCES `actividad` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
INSERT INTO `inscripcion` VALUES (2,'1779753043883_carga_academica.pdf','APROBADA','2026-05-25',NULL,1,11,NULL),(3,'1779757549064_carga_academica.pdf','APROBADA','2026-05-25',NULL,1,12,NULL);
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instructor`
--

DROP TABLE IF EXISTS `instructor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instructor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `foto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_disciplina` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbjej3l48xik86bcp9km8blkt6` (`id_disciplina`),
  KEY `FK56773yp6lnloc5y9ao9379ksk` (`id_persona`),
  CONSTRAINT `FK56773yp6lnloc5y9ao9379ksk` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`),
  CONSTRAINT `FKbjej3l48xik86bcp9km8blkt6` FOREIGN KEY (`id_disciplina`) REFERENCES `disciplina` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instructor`
--

LOCK TABLES `instructor` WRITE;
/*!40000 ALTER TABLE `instructor` DISABLE KEYS */;
INSERT INTO `instructor` VALUES (4,1,'futbol.jpg',1,4),(5,1,'danza.jpg',4,5),(6,1,'basquet.jpg',2,6);
/*!40000 ALTER TABLE `instructor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nivel_desempenio`
--

DROP TABLE IF EXISTS `nivel_desempenio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nivel_desempenio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rangoMax` double DEFAULT NULL,
  `rangoMin` double DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nivel_desempenio`
--

LOCK TABLES `nivel_desempenio` WRITE;
/*!40000 ALTER TABLE `nivel_desempenio` DISABLE KEYS */;
INSERT INTO `nivel_desempenio` VALUES (1,'Excelente',100,90),(2,'Notable',89.99,80),(3,'Bueno',79.99,70),(4,'Suficiente',69.99,60),(5,'Insuficiente',59.99,0);
/*!40000 ALTER TABLE `nivel_desempenio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persona` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semestre`
--

DROP TABLE IF EXISTS `semestre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semestre` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `fechaFin` date DEFAULT NULL,
  `fechaInicio` date DEFAULT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semestre`
--

LOCK TABLES `semestre` WRITE;
/*!40000 ALTER TABLE `semestre` DISABLE KEYS */;
INSERT INTO `semestre` VALUES (1,0,'2025-12-20','2025-08-11','Ago-Dic 2025'),(2,1,'2026-06-20','2026-01-13','Ene-Jun 2026');
/*!40000 ALTER TABLE `semestre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesion`
--

DROP TABLE IF EXISTS `sesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `estatus` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `numeroSesion` int DEFAULT NULL,
  `observaciones` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_horario` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKq9efcoxf6lx6n0ijdob8ektw6` (`id_horario`),
  CONSTRAINT `FKq9efcoxf6lx6n0ijdob8ektw6` FOREIGN KEY (`id_horario`) REFERENCES `horario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesion`
--

LOCK TABLES `sesion` WRITE;
/*!40000 ALTER TABLE `sesion` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rol` enum('ROLE_ADMIN','ROLE_ENCARGADO','ROLE_INSTRUCTOR','ROLE_ALUMNO') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKagix3q8yqktlyj3yp1sn0mcd9` (`id_persona`),
  CONSTRAINT `FKagix3q8yqktlyj3yp1sn0mcd9` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,1,'$2a$10$e49TfE8iUyMkyohLQxAD2eOoYMk63to.HXTwPTT9XHW3kXlqHUIxi','ROLE_ADMIN','admin',1),(2,1,'$2a$10$Xq0kjBgW5NT7hscu0cGxsOVwmMbPf7wIZp6GLsIMCa8UHtE9EN1Ya','ROLE_ALUMNO','22520001',2),(3,1,'$2a$10$xVr5tKZi5ROCDgb65p9ATu4mtzEqDJdAvwE7I.gSDB2ZPT.x/4iOG','ROLE_ALUMNO','22520002',3),(4,1,'$2a$10$Ww7p6b8u5qizRp6Hdefyk.agbUOUWVjxSc3B8SvkNl2yhGUrh5r12','ROLE_ENCARGADO','encargado1',15),(5,1,'$2a$10$8tnVXiLvzVeeOE62SzEtcOOcYcykBL4w/I4NIRefrQgjkStvyvLFC','ROLE_INSTRUCTOR','instructor1',4);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-25 20:38:13
