-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: actividadescomplementarias
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `cupoMaximo` int DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `imagenFlyer` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `id_disciplina` int DEFAULT NULL,
  `id_instructor` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmwspndy2ja3f1bk0558vbb7s` (`id_disciplina`),
  KEY `FKmncb4u5ased4aujx176d26j7` (`id_instructor`),
  KEY `FK3f2h0gmvsbagquvpfdpbmhwyb` (`id_semestre`),
  CONSTRAINT `FK3f2h0gmvsbagquvpfdpbmhwyb` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id`),
  CONSTRAINT `FKmncb4u5ased4aujx176d26j7` FOREIGN KEY (`id_instructor`) REFERENCES `instructor` (`id`),
  CONSTRAINT `FKmwspndy2ja3f1bk0558vbb7s` FOREIGN KEY (`id_disciplina`) REFERENCES `disciplina` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumno`
--

DROP TABLE IF EXISTS `alumno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumno` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `numControl` varchar(255) DEFAULT NULL,
  `semestreActual` int DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKng780w8m7w5hl7llvm80r1xjs` (`id_carrera`),
  KEY `FKntvhnoasw1yr2e6p6nudb5lu3` (`id_persona`),
  CONSTRAINT `FKng780w8m7w5hl7llvm80r1xjs` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id`),
  CONSTRAINT `FKntvhnoasw1yr2e6p6nudb5lu3` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumno`
--

LOCK TABLES `alumno` WRITE;
/*!40000 ALTER TABLE `alumno` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencia`
--

DROP TABLE IF EXISTS `asistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asistencia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `asistio` bit(1) DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  `id_alumno` int DEFAULT NULL,
  `id_sesion` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhoistiucdphdkhv4gcsan5o0d` (`id_alumno`),
  KEY `FKi55wocyhkhhly7xg70a3bsny7` (`id_sesion`),
  CONSTRAINT `FKhoistiucdphdkhv4gcsan5o0d` FOREIGN KEY (`id_alumno`) REFERENCES `alumno` (`id`),
  CONSTRAINT `FKi55wocyhkhhly7xg70a3bsny7` FOREIGN KEY (`id_sesion`) REFERENCES `sesion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencia`
--

LOCK TABLES `asistencia` WRITE;
/*!40000 ALTER TABLE `asistencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera`
--

DROP TABLE IF EXISTS `carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrera` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera`
--

LOCK TABLES `carrera` WRITE;
/*!40000 ALTER TABLE `carrera` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `constancia`
--

DROP TABLE IF EXISTS `constancia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `constancia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `archivoPdf` varchar(255) DEFAULT NULL,
  `estatus` varchar(255) DEFAULT NULL,
  `fechaGeneracion` date DEFAULT NULL,
  `valorCurricular` int DEFAULT NULL,
  `valorNumerico` double DEFAULT NULL,
  `id_inscripcion` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjl2hiqaromi498nmy8qh3r9o4` (`id_inscripcion`),
  KEY `FKfe1a37u1qci6capeurwvni0f3` (`id_nivel`),
  KEY `FK2h4wv1sou25wt5x39do8ki9tx` (`id_semestre`),
  CONSTRAINT `FK2h4wv1sou25wt5x39do8ki9tx` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id`),
  CONSTRAINT `FKfe1a37u1qci6capeurwvni0f3` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKjl2hiqaromi498nmy8qh3r9o4` FOREIGN KEY (`id_inscripcion`) REFERENCES `inscripcion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constancia`
--

LOCK TABLES `constancia` WRITE;
/*!40000 ALTER TABLE `constancia` DISABLE KEYS */;
/*!40000 ALTER TABLE `constancia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `criterio_base`
--

DROP TABLE IF EXISTS `criterio_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `criterio_base` (
  `id` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `numeroCriterio` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `criterio_base`
--

LOCK TABLES `criterio_base` WRITE;
/*!40000 ALTER TABLE `criterio_base` DISABLE KEYS */;
/*!40000 ALTER TABLE `criterio_base` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `criterio_eval`
--

DROP TABLE IF EXISTS `criterio_eval`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `criterio_eval` (
  `id` int NOT NULL AUTO_INCREMENT,
  `valor` double DEFAULT NULL,
  `id_criterio` int DEFAULT NULL,
  `id_evaluacion` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKk39jbueja5imwoajv0yixqirt` (`id_criterio`),
  KEY `FK6qox5aim3fyiqpx1i6wp3r5is` (`id_evaluacion`),
  KEY `FK922eqi15hv99p043nuoudsrqj` (`id_nivel`),
  CONSTRAINT `FK6qox5aim3fyiqpx1i6wp3r5is` FOREIGN KEY (`id_evaluacion`) REFERENCES `evaluacion` (`id`),
  CONSTRAINT `FK922eqi15hv99p043nuoudsrqj` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKk39jbueja5imwoajv0yixqirt` FOREIGN KEY (`id_criterio`) REFERENCES `criterio_base` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `criterio_eval`
--

LOCK TABLES `criterio_eval` WRITE;
/*!40000 ALTER TABLE `criterio_eval` DISABLE KEYS */;
/*!40000 ALTER TABLE `criterio_eval` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disciplina`
--

DROP TABLE IF EXISTS `disciplina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disciplina` (
  `id` int NOT NULL AUTO_INCREMENT,
  `creditos` int DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disciplina`
--

LOCK TABLES `disciplina` WRITE;
/*!40000 ALTER TABLE `disciplina` DISABLE KEYS */;
/*!40000 ALTER TABLE `disciplina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encargado`
--

DROP TABLE IF EXISTS `encargado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encargado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqfh92g44fe04e0cbk15l2xa59` (`id_persona`),
  CONSTRAINT `FKqfh92g44fe04e0cbk15l2xa59` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encargado`
--

LOCK TABLES `encargado` WRITE;
/*!40000 ALTER TABLE `encargado` DISABLE KEYS */;
/*!40000 ALTER TABLE `encargado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espacio`
--

DROP TABLE IF EXISTS `espacio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `espacio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espacio`
--

LOCK TABLES `espacio` WRITE;
/*!40000 ALTER TABLE `espacio` DISABLE KEYS */;
/*!40000 ALTER TABLE `espacio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion`
--

DROP TABLE IF EXISTS `evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluacion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fecha` date DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  `valorNumerico` double DEFAULT NULL,
  `id_inscripcion` int DEFAULT NULL,
  `id_instructor` int DEFAULT NULL,
  `id_nivel` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKnmecrfw8u8aad9y8oi56cpeh7` (`id_inscripcion`),
  KEY `FKj8q0khrwmx24pc9o35qh4xygg` (`id_instructor`),
  KEY `FKcwv9n0cda7ymcq9xnnimqahh8` (`id_nivel`),
  CONSTRAINT `FKcwv9n0cda7ymcq9xnnimqahh8` FOREIGN KEY (`id_nivel`) REFERENCES `nivel_desempenio` (`id`),
  CONSTRAINT `FKj8q0khrwmx24pc9o35qh4xygg` FOREIGN KEY (`id_instructor`) REFERENCES `instructor` (`id`),
  CONSTRAINT `FKnmecrfw8u8aad9y8oi56cpeh7` FOREIGN KEY (`id_inscripcion`) REFERENCES `inscripcion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion`
--

LOCK TABLES `evaluacion` WRITE;
/*!40000 ALTER TABLE `evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario`
--

DROP TABLE IF EXISTS `horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `diaSemana` varchar(255) DEFAULT NULL,
  `horaFin` time DEFAULT NULL,
  `horaInicio` time DEFAULT NULL,
  `id_actividad` int DEFAULT NULL,
  `id_espacio` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2a0nguhtv710uxlcijkmc2nxg` (`id_actividad`),
  KEY `FKceijc3872gr0fb5uw57xpf8i6` (`id_espacio`),
  CONSTRAINT `FK2a0nguhtv710uxlcijkmc2nxg` FOREIGN KEY (`id_actividad`) REFERENCES `actividad` (`id`),
  CONSTRAINT `FKceijc3872gr0fb5uw57xpf8i6` FOREIGN KEY (`id_espacio`) REFERENCES `espacio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario`
--

LOCK TABLES `horario` WRITE;
/*!40000 ALTER TABLE `horario` DISABLE KEYS */;
/*!40000 ALTER TABLE `horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscripcion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `archivoHorario` varchar(255) DEFAULT NULL,
  `estatusSolicitud` varchar(255) DEFAULT NULL,
  `fechaSolicitud` date DEFAULT NULL,
  `motivoRechazo` varchar(255) DEFAULT NULL,
  `id_actividad` int DEFAULT NULL,
  `id_alumno` int DEFAULT NULL,
  `id_encargado` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr7vipvbfym866d1oawj9rnt87` (`id_actividad`),
  KEY `FKco7761ucd4mx60r4cawxel34x` (`id_alumno`),
  KEY `FKhdaq3u4sj3mpxd4uvgxh1ohct` (`id_encargado`),
  CONSTRAINT `FKco7761ucd4mx60r4cawxel34x` FOREIGN KEY (`id_alumno`) REFERENCES `alumno` (`id`),
  CONSTRAINT `FKhdaq3u4sj3mpxd4uvgxh1ohct` FOREIGN KEY (`id_encargado`) REFERENCES `encargado` (`id`),
  CONSTRAINT `FKr7vipvbfym866d1oawj9rnt87` FOREIGN KEY (`id_actividad`) REFERENCES `actividad` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instructor`
--

DROP TABLE IF EXISTS `instructor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instructor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `id_disciplina` int DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbjej3l48xik86bcp9km8blkt6` (`id_disciplina`),
  KEY `FK56773yp6lnloc5y9ao9379ksk` (`id_persona`),
  CONSTRAINT `FK56773yp6lnloc5y9ao9379ksk` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`),
  CONSTRAINT `FKbjej3l48xik86bcp9km8blkt6` FOREIGN KEY (`id_disciplina`) REFERENCES `disciplina` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instructor`
--

LOCK TABLES `instructor` WRITE;
/*!40000 ALTER TABLE `instructor` DISABLE KEYS */;
/*!40000 ALTER TABLE `instructor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nivel_desempenio`
--

DROP TABLE IF EXISTS `nivel_desempenio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nivel_desempenio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  `rangoMax` double DEFAULT NULL,
  `rangoMin` double DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nivel_desempenio`
--

LOCK TABLES `nivel_desempenio` WRITE;
/*!40000 ALTER TABLE `nivel_desempenio` DISABLE KEYS */;
/*!40000 ALTER TABLE `nivel_desempenio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persona` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
INSERT INTO `persona` VALUES (1,'Garcia Oropeza',NULL,'Roberta',NULL);
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semestre`
--

DROP TABLE IF EXISTS `semestre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semestre` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `fechaFin` date DEFAULT NULL,
  `fechaInicio` date DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semestre`
--

LOCK TABLES `semestre` WRITE;
/*!40000 ALTER TABLE `semestre` DISABLE KEYS */;
/*!40000 ALTER TABLE `semestre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesion`
--

DROP TABLE IF EXISTS `sesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `estatus` varchar(255) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `numeroSesion` int DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  `id_horario` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKq9efcoxf6lx6n0ijdob8ektw6` (`id_horario`),
  CONSTRAINT `FKq9efcoxf6lx6n0ijdob8ektw6` FOREIGN KEY (`id_horario`) REFERENCES `horario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesion`
--

LOCK TABLES `sesion` WRITE;
/*!40000 ALTER TABLE `sesion` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `rol` enum('ROLE_ADMIN','ROLE_ENCARGADO','ROLE_INSTRUCTOR','ROLE_ALUMNO') DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `id_persona` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKagix3q8yqktlyj3yp1sn0mcd9` (`id_persona`),
  CONSTRAINT `FKagix3q8yqktlyj3yp1sn0mcd9` FOREIGN KEY (`id_persona`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,1,'$2a$10$NvSOr5TMPs2qK.rlSevWxuLod5VQF/vfitOe8RsTQJgnY4oaOXvja','ROLE_ADMIN','admin',1);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-26  2:30:00
